html, body{
    margin:0;
    padding:0;
}
body{
    background-color:white;
}
h2{
    font-size: 2.4em;
}
p{
    font-size: 1.3em;
    padding: 20px 0px;
}
div{
    display: block
}
.startPageContent{
    height:93vh;
    margin: auto;
    margin-top: -1px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(170, 170, 170, 0.5)), url("./Photo/GIGX3798.JPG"); 
    background-size:cover;
    background-position: bottom;
}
 .startPageContent .welcome{
    z-index: 1;
    text-align: center;
    font-family:Arial;
    color: #eeeeee;
}
.welcome .hello{
    font-size:100px;
    padding: 0px;
    margin:0;
}
.welcome .ryan{
    font-size: 60px;
    padding: 0px;
    margin-top: -25px;
}
.content nav .container-fluid{
    margin: auto;
}
.contant nav .container-fluid .nav-link{
    font-size: 1.3em;
}
section{
    max-width: 1450px;
    margin: auto;
    padding-top: 0px;
}
.leftContent{
    width: 500px;
    float: left;
    padding-left: 30px;
    box-sizing: border-box;
}
.rightContent{
    position: relative;
    margin-left:550px;
    height: 400px;
}
.aboutMe{
    padding: 50px 25px;
    background-color: #fafaff;
}
.aboutMe  .leftContent .aboutMeImage{
    max-width: 450px;
    height: 400px;
    background-image: url('./Photo/IMG_0172.jpg');
    background-size:cover;
    border: #aaaaaa solid 4px;
    border-radius: 7px;
    background-position: 0% 20%;
}

.contentWrapper .leftContent #slideshow {
    width: 450px; 
    height: 400px; 
    background-color: #e5e5e5;
    border: 3px solid gray;
    border-radius: 3px;
}
.contentWrapper .leftContent #slideshow > div { 
   position: absolute;
}
#slideshow > div > img{
    position: absolute;
    padding-top: 75px;
    width:445px;
}
.project{
    padding: 50px 25px;
    background-color:white;
}
.project .rightContent .viewProject{
    position: absolute;
    bottom:0px;
}
.skill{
    background-color: #fafaff;
    padding: 80px 25px;
    height: 400px;
}
.skill .skillTopic{
    text-align: center;
    padding-bottom: 20px;
}
.skill .imageBox{
    width:100%;
}
.skill img{
    display: block;
    margin: auto;
    height: 200px;
}

.contact .content{
    padding:70px 0px;
    text-align: center;
}
footer{
    background-color: #101111;
    height: 100px;
    width:100%;
}
footer div p{
    color: #aaaaaa;
    padding-top: 35px;
    text-align: center;
    font-size: 1em;
}
@media only screen and (max-width: 1366px){
    .contantWrapper{
        width: 100%;
    }
    .startPageContent{
        height: 97vh;
    }
    .rightContent{
    position: relative;
    margin-left:525px;
    height: 400px;
}
}
@media only screen and (max-width: 1024px){
    /*skill logos for ipad pro protrait and ipad landscape*/
    p{
        font-size: 1.2em;
    }
    .startPageContent{
        height: 95vh;
    }
    .aboutMe  .leftContent .aboutMeImage{
        width: 400px;
        height: 400px;
        background-image: url('./Photo/IMG_0172.jpg');
        background-size:cover;
        border: #aaaaaa solid 4px;
        border-radius: 7px;
        background-position: 0% 20%;
    }
    .project .content  .leftContent #slideshow {
        width: 400px; 
        height: 400px; 
        background-color: #e5e5e5;
        border: 3px solid gray;
        border-radius: 3px;
    }
    #slideshow > div > img{
        position: absolute;
        padding-top: 90px;
        width:395px;
    }
    .leftContent{
        width: 400px;
        float: left;
        box-sizing: border-box;
    }
    .rightContent{
        position: relative;
        margin-left:450px;
        height: 400px;
        width: 450px;
    }
    .skill img{
        display: block;
        margin: auto;
        height: 160px;
    }
    .contact .content{
        padding:70px 0px;
        text-align: center;
    }
}
@media only screen and (max-width: 768px) and (orientation:portrait){
    p{
        font-size: 1.1em;
    }
    .welcome{
        padding-top: 20px;
    }
    .startPage .startPageContent .welcome .hello{
        font-size: 6em;
    }
    .startPage .startPageContent .welcome .ryan{
        font-size: 4em;
        margin-bottom: 0px;
    }
    .startPage .startPageContent .welcome a{
        font-size: 2em;
    }
    .contentWrapper{
        max-width: 768px;
    }
    section{
        margin: 0;
    }
    .aboutMe{
       margin: 0px;
       padding:50px 0px;
    }
    .project{
        padding: 50px 0px;
    }
    .leftContent{
        padding: 0;
        width:100%;
        float: none;
    }
    .rightContent{
        margin: auto;
        width:90%;
        float: none;
        margin-top:20px;
        height: 100%;
    }
    .rightContent h2{
        text-align: center;
    }   
    .project .content .leftContent #slideshow{ 
        width: 100%;
        height: 220px;
    }
     #slideshow > div > img{
         padding-top:0px;
         width:400px;
     }
    .project .rightContent p{
        height:360px;
    }
    .project .rightContent .viewProject{
        text-align: center;
        position: relative;
    }
    .skill{
        background-color: #fafaff;
        padding: 60px 25px;
        height: 250px;
    }
    .skill .skillTopic{
        text-align: center;
        padding-bottom: 20px;
    }
    .skill img{
        height: 60px;
    }
    
}
@media only screen and (max-width: 768px) and (min-height: 1024px) and (orientation:portrait){
    /*ipad*/
    p{
        font-size: 1.em;
    }
    .aboutMe .leftContent .aboutMeImage{
        margin: auto;
        max-width: 900px;
        width: 900px;
        background-position: 0% 90%;
    }
    .project .content .leftContent #slideshow{ 
        width: 100%;
        height: 500px;
       margin: auto;
    }
     #slideshow > div > img{
         position: absolute;
         padding-top:0px;
         width:920px;
     }
     .project .rightContent{
         margin-top: 40px;
         text-align: center;
     }
     .project .rightContent p{
         height:260px;
     }
    .skill{
        height: 200px;
    }
    .skill img{
        height: 120px;
    }
} 
@media only screen  and (max-width: 823px) and (orientation:landscape){
    p{
        font-size: 1.45em;
    }
     .welcome{
        padding: 0px;
        margin: 0px;
    }
    .welcome .hello{
        font-size: 6em;
        margin-top: -20px;
        margin-bottom: -50px;
    }
    .welcome .ryan{
        font-size: 4em;
        margin: 5px;
        margin-bottom: -20px;
    }
    .contantWrapper{
        max-width: 823px;
    }
    .aboutMe{
        padding: 30px 0px;
    }
    .content .contentWrapper{
        width: 100%;
        padding: 0px 0px;
        margin-top: 0px;
    }
    section{
        padding-top: 0px;
        margin: 0;
    }
    .leftContent{
        width:100%;
        padding-left: 0px;
        float: none;
    }
    .rightContent{
        margin: auto;
        width:90%;
        float: none;
        padding-top:20px;
        height: 100%;
    }
    .rightContent h2{
        text-align: center;
    }
    .aboutMe .leftContent .aboutMeImage{
        margin: auto;
    }
    .project{
        padding: 20px 0px;
    }
    .project .content .leftContent #slideshow{ 
        height: 400px;
       margin: auto;
    }
     #slideshow > div > img{
         position: absolute;
         padding-top:90px;
     }
    .project .rightContent .viewProject{
        position: relative;
        padding-top: 20px;
        text-align: center;
    }

    .skill img{
        height: 110px;
    }
   
}
@media only screen and (max-width: 360px) and (orientation:portrait){
    .welcome{
        padding-top: 40px;
    }
    .startPage .startPageContent .welcome .hello{
        margin-top: -20px;
        margin-bottom: -30px;
        font-size: 5em;
    }
    .startPage .startPageContent .welcome .ryan{
        font-size: 3.5em;
        margin-bottom: -5px;
    }
    .startPage .startPageContent .welcome a{
        font-size: 1.8em;
    }
    .contantWrapper{
        max-width: 360px;
    }
    .rightContent{
        height: 100%;
    }
    .aboutMe .leftContent .aboutMeImage{
        margin: auto;
        width: 100%;
        height: 80vh;
        background-position: 0px 0px;
        border: 0px;
        border-radius: 0px;
    }
    .skill img{
        height: 50px;
    }
}
@media only screen and (max-width: 568px) and (orientation:landscape){
    .aboutMe .leftContent .aboutMeImage{
        margin: auto;
        width: 100%;
        height: 80vh;
        background-position: 0px -70px;
        border: 0px;
        border-radius: 0px;
    }
    .content .contentWrapper .leftContent .slideshow {
        width: 100%;
        height:100% ;
        border: 0px;
        border-radius: 0px;
        margin-top: 8.5px;
    }
    .skill img{
        height: 80px;
    }
}
